# Ignorar archivos de imagenes y recursos estáticos
python_backend_legacy/src/assets/images/icons/*
python_backend_legacy/src/assets/images/loading_screens/*
python_backend_legacy/src/assets/images/splash_arts/*

moba_analysis_app/backend/assets/images/*

# Ignorar todo el contenido de la carpeta results de champion select en el servicio de análisis de partidas en vivo
moba_analysis_app/backend/services/live_game_analysis/champion_select/results/*

# Ignorar archivos de salida del procesamiento de la API de Leaguepedia
moba_analysis_app/backend/services/leaguepedia_api/output/*

# Ignorar archivos de temporales de procesamiento de video
moba_analysis_app/backend/frames/*
moba_analysis_app/backend/videos/*

