# Ignorar archivos de imagenes excepto el mapa
moba_analysis_app/backend/assets/images/icons/*
moba_analysis_app/backend/assets/images/loading_screens/*
moba_analysis_app/backend/assets/images/splash_arts/*

# Ignorar todo el contenido de la carpeta results de champion select en el servicio de análisis de partidas en vivo
moba_analysis_app/backend/services/live_game_analysis/champion_select/results/*

# Ignorar archivos de salida del procesamiento de la API de Leaguepedia
moba_analysis_app/backend/services/leaguepedia_api/output/*

# Ignorar archivos de temporales de procesamiento de video
moba_analysis_app/backend/frames/*
moba_analysis_app/backend/videos/*

